<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>

            <section name="auth">
                <conf name="CONSUMER_KEY">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="CONSUMER_SECRET">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="CONSUMER_SECRET">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>
        </config>

        <window>
            <title>
                <locale group="quiqqer/twitter" var="settings.window.title"/>
            </title>
            <params>
                <icon>fa fa-twitter</icon>
            </params>

            <categories>

                <category name="twitter_auth"
                          require="package/quiqqer/twitter/bin/controls/AuthSettings"
                >
                    <text>
                        <locale group="quiqqer/twitter" var="settings.window.category.auth.button"/>
                    </text>
                    <icon>icon-twitter</icon>

                    <settings title="twitter_auth_section" name="twitter_auth_section">
                        <title>
                            <locale group="quiqqer/twitter" var="settings.window.category.auth.title"/>
                        </title>
                        <text>
                            <locale group="quiqqer/twitter" var="settings.window.category.auth.description"/>
                        </text>

                        <input conf="auth.CONSUMER_KEY">
                            <text>CONSUMER_KEY</text>
                        </input>

                        <input conf="auth.CONSUMER_SECRET">
                            <text>CONSUMER_SECRET</text>
                        </input>
                    </settings>
                </category>

            </categories>
        </window>

    </settings>
</quiqqer>
